p {
  color: white;
}

h4 {
  color: white;
}

h2 {
  color: white;
}

h1 {
  color: white;
}

.pista {
  position:relative; 
  top:-500px; 
  left:318px; }


body {
    background:linear-gradient(#aaa 0, #ddd 10px, #fff 55px);
    border:1px solid black;
    padding:10px 20px;
    box-shadow:5px 0px 30px #000;
    border-radius:8px;
    margin:0;
    width:640px;
    height:480px;
}

#Idioma { position:relative; top:-386px; left:318px; }
#Sons { position:relative; top:-380px; left:558px; }
#Pista { position:relative; top:-350px; left:130px; }
#Segons { position:relative; top:-285px; left:130px; }
#Punts { position:relative; top:-200px; left:90px; }
#Guia { position:relative; top:-305px; left:260px; }
#Caminar { position:relative; top:-440px; left:430px; }
#Rotar { position:relative; top:-400px; left:430px; }
#Teclat { position:relative; top:-360px; left:293px; }
#Audios { position:relative; top:-480px; left:0px; }
#Imatges { position:absolute; top:120px; left:320px; }
#Moix { position:absolute; top:200px; left:200px; }
#ca { position:relative; top:-447px; left:348px; }
#es { position:relative; top:-447px; left:350px; }
#en { position:relative; top:-447px; left:352px; }
#dic_ca { position:relative; top:-474px; left:490px; }
#dic_es { position:relative; top:-474px; left:492px; }
#dic_en { position:relative; top:-474px; left:494px; }
#IdiomaExtra { position:relative; top:-498px; left:440px; }
#Teclat { position:absolute; top:75px; left:560px; }